* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Color Definition */
.blue {
    background-color: #eafbfe;
}

.orange {
    background-color: #fff9eb;
}

.purple {
    background-color: #f0efff;
}

.red {
    background-color: #fdf4f5;
}

.green {
    background-color: #e5fceb;
}

.aliceblue {
    background-color: #eef9fe;
}

/* Header */
.header__base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2d3b94;
    width: 100%;
}

@media all and (min-width: 768px) {
    .header__base {
        padding: 0 70px;
    }
}

.nav__mobile {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0 0;
}

@media all and (min-width: 768px) {
    .nav__mobile {
        display: none;
    }
}

.nav__line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 7px;
}

.nav__desktop {
    display: none;
}

@media all and (min-width: 768px) {
    .nav__desktop {
        display: block;
    }
}

.nav__wrapper {
    list-style-type: none;
    margin-top: 20px;
}

.nav__item {
    display: inline-block;
    height: 45px;
}

.nav__item a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 1px;
}

.nav__item:last-of-type a {
    border: 2px solid white;
    border-radius: 5px;
}

/* Section 1 CSS */
.section1 {
    background-image: url(../images/header.jpg);
    text-align: center;
    height: 200px;
    padding: 0 20px;
    color: white;
    padding-top: 40px;
}

.section1__heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section1__paragraph {
    font-size: 18px;
    margin-bottom: 3px;
    letter-spacing: 1px;
}

/* Section 2 CSS */
.section2 {
    margin: 30px 15px;
}

@media all and (min-width: 768px) {
    .section2 {
        margin: 60px;
    }
}

.section2__wrapper {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .section2__wrapper {
        flex-direction: row;
    }
}

.section2__column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex: 1;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

@media all and (min-width: 768px) {
    .section2__column {
        margin: 0 10px 20px 10px;
    }
}

.section2__row {
    position: relative;
}

.section2__row::after {
    content: '\2192';
    position: absolute;
    right: 0;
    top: 16px;
}

.section2__wrapperTI {
    display: flex;
    flex-direction: row;
}

.section2__title {
    color: #314273;
    font-size: 22px;
    font-weight: bold;
    padding-top: 14px;
    margin-left: 5px;
}

.section2__text {
    color: #7a8699;
    letter-spacing: 1px;
    font-size: 16px;
}

.section2__wrapperButton {
    text-align: center;
    margin-bottom: 20px;
}

.section2__button {
    color: #5471d2;
    border: 2px solid #5471d2;
    border-radius: 5px;
    padding: 10px 35px 10px 15px;
    font-size: 15px;
    background-color: white;
    position: relative;
}

.section2__button::after {
    content: '\2192';
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 22px;
}

/* Section 3 CSS */
.section3 {
    background-color: #e6e6e6;
    padding: 60px 15px;
}

@media all and (min-width: 768px) {
    .section3 {
        padding: 60px;
    }
}

.section3__wrapper {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .section3__wrapper {
        display: flex;
        flex-direction: row;
    }
}

.section3__row {
    width: 50%;
    padding: 40px 20px 0px 0px;
}

.section3__ourBlog {
    margin-bottom: 30px;
    color: #3c4561;
    font-size: 17px;
}

.section3__heading {
    margin-bottom: 30px;
    font-size: 40px;
}

.section3__stayUpdated {
    color: #3c4561;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.section3__block {
    margin-bottom: 30px;
}

.section3__link {
    color: #586dce;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.section3__link:hover {
    color: #3146a8;
}

.section3__span {
    color: #9fa6bb;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.section3__button {
    color: white;
    text-decoration: none;
    background-color: #586dce;
    border-radius: 5px;
    padding: 15px 35px 15px 25px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}

.section3__button:hover {
    background-color: #3146a8;
}

.section3__button::after {
    content: '\2192';
    position: absolute;
    right: 10px;
}

.section3__wrapperImage {
    width: 100%;
}

@media all and (min-width: 768px) {
    .section3__wrapperImage {
        width: 50%;
    }
}

.section3__image {
    width: 100%;
}

/* Section 4 CSS */
.section4 {
    padding: 60px 15px;
}

@media all and (min-width: 768px) {
    .section4 {
        margin: 60px;
    }
}

.section4__information {
    border: 1px solid #aaafc2;
}

.section4__text {
    text-align: center;
}

.section4__paragraph {
    color: #49516c;
    font-size: 18px;
    margin-bottom: 30px;
}

.section4__heading {
    color: #314273;
    font-size: 40px;
    margin-bottom: 30px;
}

.section4__aModern {
    color: #3c4561;
    min-height: 200px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 768px) {
    .section4__aModern {
        font-size: 24px;
        padding: 0px 200px; 
    }
}

.section4__aboutPeople {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #aaafc2;
}

.section4__specificPeople {
    border-right: 1px solid #aaafc2;
    flex: 1;
    padding: 20px;
    text-decoration: none;
}

.section4__specificPeople:last-of-type {
    border-right: none;
}

@media all and (min-width: 768px) {
    .section4__specificPeople {
        display: flex;
        flex-direction: row;
    }
}

.section4__img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media all and (min-width: 768px) {
    .section4__img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
}

.section4__fullName {
    color: #314273;
    font-weight: bold;
    margin-bottom: 5px;
}

.section4__speciality {
    color: #aaafc2;
    font-size: 15px;
    margin-bottom: 3px;
}

.section4__aboutPeopleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section 5 CSS */
.section5 {
    background-color: #f2f4fa;
    height: 120px;
}

.section5__wrapper {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media all and (min-width: 768px) {
    .section5__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 60px;
    }
}

.section5__label {
    color: #3c4561;
    font-size: 20px;
    margin-bottom: 5px;
}

@media all and (min-width: 768px) {
    .section5__label {
        width: 50%;
    }
}

.section5__input {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #aaafc2;
    height: 37px;
}

@media all and (min-width: 768px) {
    .section5__input {
        width: 50%;
    }
}

.section5__button {
    position: absolute;
    top: 58px;
    right: 15px;
    background-color: #5471d2;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.section5__button:hover {
    background-color: #3c5dcc;
    cursor: pointer;
}

@media all and (min-width: 768px) {
    .section5__button {
        top: 30px;
    }
}

/* Footer CSS */
.footer {
    padding: 30px 15px;
    background-color: #fafbfe;
}

@media all and (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media all and (min-width: 768px) {
    .footer__wrapper {
        margin: 0 60px;
        display: flex;
        flex-direction: row;
    }
}

.footer__paragraph {
    color: #959daa;
    margin-bottom: 8px;
    font-size: 16px;
}

.footer__link {
    display: block;
    color: #3d4662;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer__divLast {
    margin: 50px 0px 30px 0;
}

@media all and (min-width: 768px) {
    .footer__divLast {
        margin: 20px 60px;
    }
}

.footer__endWeb {
    color: #bdc3cc;
    font-size: 15px;
}

.footer__textImg {
    flex: 2;
}

.footer__flex {
    flex: 1;
}

@media all and (min-width: 768px) {
    .footer__flex {
        padding: 10px;
    }
}