* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    font-family: "Lato", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 130px;
    color: black;
    align-items: center;
}

.header__logo {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.header__dot {
    color: orange;
    height: 4px;
    width: 4px;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav__list i {
    vertical-align: top;
}

.nav__link {
    display: inline-block;
    color: black;
    list-style-type: none;
    text-decoration: none;
    text-shadow: 0 0 black;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 0 5px;
    font-weight: bold;
    transition: all 0.5s linear;
    font-size: 14px;
    padding: 10px;
}

.nav__link:hover {
    transform: translate(0, -10px);
    text-shadow: 0px 8px lightgray;
    cursor: pointer;
}

.header__social i {
    cursor: pointer;
    font-size: 20px;
}

.header__social i:hover {
    color: orange;
}



/* Section 1 */
.section1 {
    background-color: black;
}

.section1__up {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section1__upLeft {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 140px 20px 140px 80px;
}

.section1__leftText {
    display: flex;
    flex-direction: column;
}

.section1__title {
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.section1__paragraph {
    color: lightgrey;
    font-size: 17px;
    margin-bottom: 20px;
}

.section1_button {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #684510;
    font-weight: bold;
    background-color: orange;
}

.section1_button:hover {
    background-color: black;
    border: 1px solid orange;
    color: orange;
}

.section1__leftCircles {
    display: flex;
    flex-direction: column;
}

.section1__circle {
    height: 15px;
    width: 15px;
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 5px;
    cursor: pointer;
}

.section1__circle:hover {
    background-color: white;
}

.section1__circle--full {
    background-color: white;
}
.section1__upRight {
    width: 60%;
}

.section1__upImg {
    width: 100%;
    height: 100%;
}

.section1_down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px;
    height: 140px;
}

.section1__downFlex {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 14%;
}

.section1__downImg {
    width: 100%;
    filter: grayscale(1);
    transition: 1s;
    height: 100%;
}

.section1__downImg:hover {
    filter: grayscale(0);
    transform: translate(0, -10px);
}

.section1__downImg--full {
    filter: grayscale(0);
    transform: translate(0, -10px);
}

.section1__downText {
    background-color: #0f0f0f;
}

.section1__downText {
    color: white;
}

.section1__downFlex {
    background-color: orange;
}

.section2 {
    background-color: #0f0f0f;
    height: 700px;
}

.section2__featured {
    color: gray;
    text-align: center;
    padding-top: 100px;
    letter-spacing: 1px;
    font-size: 18px;
}

.section2__designed {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

.section2__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 200px;
}

.section2__title {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.section2__paragraph {
    color: gray;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}

.section2__link {
    color: gray;
    letter-spacing: 1px;
    font-size: 14px;
}

.section3 {
    position: relative;
}

.section3__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 12%;
}

.section3__left {
    transform: translateY(-200px);
}

.section3__right {
    
}

.section3__foto {
    border-radius: 5px;
    vertical-align: top;
}

.section3__foto1 {
    width: 50%;
    margin-right: 15px;
}

.section3__foto2 {
   width: 15%;
   margin-right: 15px;
}

.section3__foto3 {
    width: 30%;
}

.section3__foto4 {
    position: absolute;
    width: 19%;
    right: 35%;
    top: 15px;
}

.section3__absolute {
    position: absolute;
    width: 28%;
    right: 260px;
    bottom: 300px;
}

.section3__title {
    color: #808080;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.section3__paragraph {
    color: #d3d3d3;
    letter-spacing: 1px;
}
.section4 {
    background-color: #fef9ee;
}

.section4__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    margin-bottom:  200px;
}

.section4__left {
    width: 40%;
}

.section4__experience {
    font-size: 45px;
    font-weight: bold;
    text-align: right;
    margin-right: 50px;
}

.section4__right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.section4__denali {
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.section4__gantry {
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    column-count: 2;
}

.section5 {
    position: relative;
    margin-left: 100px;
}

.section5__img {
    position: absolute;
    top: -80px;
    left: 80px;
}

.section5__test {
    position: absolute;
    top: -50px;
    left: 80px;
    background-color: white;
    font-weight: bold;
}

.section5__wrapper {
    display: flex;
    flex-direction: column;
    padding: 150px 50px 150px 300px;
    width: 70%;
    color: white;
    background-color: #0f0f0f;
    margin-left: auto;
}

.section5__events {
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.section5__title {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.section5__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.section5__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section5__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 20px;
}

.section5__dotColor {
    background-color: orange;
}

.section5__month {
    color: gray;
}

.section5__day {
    font-size: 25px;
    margin-bottom: 15px;
}

.section5__kit {
    font-size: 30px;
    margin-right: 20px;
}

.section5__city {
    font-size: 20px;
    margin-bottom: 10px;
}

.section5__place {
    font-size: 19px;
    margin-bottom: 15px;
    color: gray;
}

.section5__button {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: black;
}

.section5__button:hover {
    cursor: pointer;
    background-color: orange;
    border: none;
}

.section6 {
    margin: 0 150px;
}

.section6__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 50px;

}

.section6__paragraph {
    color: #d3d3d3;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 15px;
}

.section6__title {
    letter-spacing: 1px;
    font-size: 27px;
}

.section6__button {
    color: #727272;
    letter-spacing: 1px;
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 11px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.section6__button:hover {
    background-color: orange;
    color: black;
}

.section6__button-active {
    background-color: orange;
    color: black;
}

.section6__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section6__column {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.section6__block {
    margin-bottom: 20px;
}

.section6__hide {
    display: none;
}

.section6__test{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section6__block .section6__test {
    background-color: rgba(181,140,132,0.4);
}

.section6__block:hover .section6__prTitle {
    text-shadow: 0px 2px 4px grey;
}

.section6__block:hover .section6__prLink {
    text-decoration: underline;
}



.section6__relativ {
    position: relative;
}

.section6__prImg {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

.section6__absolParagraph {
    position: absolute;
    color: white;
    height: 35px;
    width: 56px;
    background-color: orange;
    top: 10px;
    left: 10px;
    padding: 10px 4px;
    font-size: 15px;
}

.section6__prTitle {
    margin-bottom: 20px;
    font-size: 16px;
}

.section6__prParagraph {
    color: gray;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
}

.section6__wrapperLink {
    margin-bottom: 50px;
}

.section6__prLink {
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

.section7 {
    background-image: url('../images/s7-img1.png');
    text-align: center;
    background-size: cover;
}

.section7__img {
    width: 75%;
    margin-top: 100px;
}

.section7__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.section7__arrow {
    color: white;
    margin-right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
}

.section8 {
    background-color: #0f0f0f;
    padding: 100px 200px 50px;
}

.section8__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section8__flex {
    flex: 1;
}

.section8__flexRight {
    flex: 3;
}

.section8__paragraph {
    color: #2f2f2f;
    margin-bottom: 20px;
}

.section8__link {
    color: #777777;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    font-size: 17px;
}

.section8__link:hover {
    color: orange;
}

.section8__text {
    color: #777777;
    letter-spacing: 1px;
    font-size: 16px;
}

.section8__whenCreated {
    text-align: center;
}